div{
	margin-top: 10px;
}
form{
	width: 500px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
input[type=text]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
input[type=button] {
	width: 100%;
	background-color: green;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 5px;
}